---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1> 망국의 수학 </h1>
			<p>
				모 과학고등학교에 재학 중인 학생이 운영하고 있는 수학 블로그입니다
			</p>
			<p>
				여기에서는 KMO 경시 문제들의 풀이나 은평구의 다양한 고등학교의 수학 시험문제들을 만나보실 수 있습니다 (물론 매우 일부이지만요)
			</p>
			<p>
				정말 여러 소스에서 긁어온 문제들을 바탕으로 블로그를 채워나가고자 합니다. 각 문제는 출처를 정확히 밝히고 있습니다.
			</p>
		</main>
		<Footer />
	</body>
</html>
